<% include partials/header %>
    <body>
        <div class="main-container">
             <div class="left-container">
                 left
             </div>
             <div class="right-container">
                <h1 class="text-center">Library Information System</h1>
                <% include partials/alerts %> 
               <div class="container">
                <div class="list-container">
                    <div class="list-item">
                        <a href="/auth/admin-login" class="btn btn-block btn-primary">Admin Login</a>
                    </div>
                    
                     <div class="list-item">
                        <a href="/auth/user-login" class="btn btn-block btn-primary">User Login</a>
                    </div>
                    
                     <div class="list-item">
                        <a href="/auth/user-signup" class="btn btn-block btn-primary">User Sign Up</a>
                    </div>
                    
                    <div class="list-item">
                        <a href="/books/all/all/1" class="btn btn-block btn-primary">Browse Books</a>
                    </div>
                </div>
               </div>
             </div>
        </div>
       
